/* .namta{
    color: rgb(243, 243, 243);
    background-color: rgb(42, 43, 42);
    line-height: 40px;
    font-size: 30px;
    margin: 30px;
    float: left;
    padding: 20px;
    font-family: sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: red;
    font-size: 38px;
    font-weight: bold;
} */
body{
    background-color:lightslategrey;
    margin-top: 90px;
}
.wrapper{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto ;
}
.text{
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    padding-left: 15px;
}
.text:focus{
    border-color: red;
}
#btn{
    color: rgb(255, 255, 255);
   padding: 10px 40px;
   font-size: 21px;
   background-color: rgb(236, 75, 11);
   border: none;
   border-radius: 4px;
   margin-top: 20px;
   transition: .4s;
}
#btn:hover{
    color: #fff;
    background-color: rgb(56, 52, 51);
}
.singupu {
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    text-shadow: 3px 2px 6px #FF0000;
}